# === Development Vars =============================================================>
# Build Target:
# Value: development || production
# The build target changes the library build to be optimized
# for production, or for local development with hot-reloading. 
JUNJO_BUILD_TARGET="development"

# Junjo's Running Environment:
# Value: development || production
# Implications for authentication and service linkage
# - Development: uses localhost and ports for services
# - Production: uses a production hostname and subdomains for services
JUNJO_ENV="development"

# Production Authentication Domain:
# Used When: JUNJO_ENV="production"
# 
# Set this to your production top level (root) domain
# that will be used for session cookie authentication.
# This will automatically cover all subdomains.
# 
# Example:
# JUNJO_PROD_AUTH_DOMAIN="example.com"
# COVERS:
#   - example.com
#   - www.example.com
#   - api.example.com
JUNJO_PROD_AUTH_DOMAIN="example.com"

# === Backend Vars =============================================================>
# Session Secret:
# This is for session authentication management
# You can generate a secure key in your terminal with: openssl rand -base64 48
JUNJO_SESSION_SECRET="your_secret_key"

# Allowed Origins:
# A comma-separated list of allowed origins for CORS.
# If not set, all origins are allowed (*)
# Recommend: setting to your domains prevents other domains from attempting to send requests
# Example: JUNJO_ALLOW_ORIGINS=http://localhost:5151,http://localhost:5153,https://example.com,https://www.example.com
JUNJO_ALLOW_ORIGINS=http://localhost:5151,http://localhost:5153

